<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Perk Recombobulator</h5>
      <ul class="list-group">
          <li class="list-group-item">Selected Perk</li>
      </ul>

      <ul class="list-group">
          <li class="list-group-item">Choice 1</li>
          <li class="list-group-item">Choice 2</li>
          <li class="list-group-item">Choice 3</li>
          <li class="list-group-item">Choice 4</li>
          <li class="list-group-item">T5 Perk</li>
          <li class="list-group-item">T6 Perk</li>
        </ul>
    </div>
  </div>