.card{
    color: #F9FDFF;
    background-color: #A9C7E3;
    border-radius: 0%;
}

.card-header{
    border-radius: 0%;
    background-color: #31384A;
}

.list-group-item{
    color: black;
}

.stats-name{
    font-size: 16px;
}

.stats-form{
    font-size: 16px;
    color: #31384A;
    display: inline-block;
    max-width: 5vw;
    max-height: 5vh;
}

.weapon-description{
    font-size: 15px;
}