<div class="card">
    <div class="card-header">
        <h5>Siegebreaker</h5>
        <div><i class="	fa fa-flash"></i> 87</div>
    </div>

    <div class="card-body">

        <input type="button" class="btn btn-success" value="Show unmodified stats">
        <div><span class="stats-name">Damage: </span><input class="form-inline stats-form" [(ngModel)]="weapon.damage"></div>
        <div><span class="stats-name">Headshot Damage: </span> <input class="form-inline stats-form" [(ngModel)]="weapon.headshotDamage">%</div>
        <div><span class="stats-name">Crit Chance: </span><input class="form-inline stats-form" [(ngModel)]="weapon.critChance">%</div>
        <div><span class="stats-name">Crit Bonus: </span><input class="form-inline stats-form" [(ngModel)]="weapon.critDamage">%</div>
        <div class="weapon-description">{{weapon.description}}</div>

    </div>
</div>