<div class="card" style="width: 18rem;">
    <div class="card-header">
        <h5>Siegebreaker</h5>
        <div>Rating Placeholder</div>
    </div>
  <img class="card-img-top" style="max-width: match_parent; max-height: 20vh;" src="https://vignette.wikia.nocookie.net/project-pokemon/images/4/47/Placeholder.png/revision/latest?cb=20170330235552" alt="Weapon Image Placeholder">
  <div class="card-body">
    <ul>
        <li>Rating</li>
        <li>Damage</li>
        <li>Headshot Damage</li>
        <li>Critical Chance</li>
        <li>Critical Damage</li>
      </ul>
  </div>
</div>