<div class="card">
    <div class="card-header">
        <h5>Perk Calculator</h5>
    </div>

    <div class="card-body">
        <div>

        <div>
<!--
            <div>Base Bonus: <input type="number" [(ngModel)]="baseDamageBonus" (ngModelChange)='recalculate($event)'>%  ( This should always be 0)</div>
            <div>Current Headshot Damage: <input type="number" [(ngModel)]="currentHeadshotBonus" (ngModelChange)='recalculate($event)'>%</div>
            <div>Current Crit Chance: <input type="number" [(ngModel)]="currentCritChance" (ngModelChange)="recalculate($event)">%</div>
            <div>Current Crit Bonus: <input type="number" [(ngModel)]="currentCritBonus" (ngModelChange)='recalculate($event)'>%</div>

            <br/>

            <div>Damage Bonus Increase from Perks: +<input type="number" [(ngModel)]="perkDamageBonus" (ngModelChange)='recalculate($event)'>%</div>
            <div>Headshot Bonus Increase from Perks: +<input type="number" [(ngModel)]="perkHeadshotBonus" (ngModelChange)='recalculate($event)'>%</div>
            <div>Crit Rating increase from perk: +<input type="number" [(ngModel)]="perkCritRating" (ngModelChange)='recalculate($event)'></div>
            <div>Crit Bonus increase from perk: +<input type="number" [(ngModel)]="perkCritBonus" (ngModelChange)='recalculate($event)'>%</div>

            <br/>

            <div>Total Base Damage Bonus: {{perkDamageBonus}}%</div>
            <div>Total Headshot Damage Percentage: {{finalHeadshotBonus}}%</div>
            <div>Total Critical Chance: {{finalCritChance}}%</div>
            <div>Total Critical Damage Bonus: +{{finalCritBonus}}%</div>

            <br/>

            <div>Base Damage Bonus: {{baseTotalBonus}}%</div>
            <div>Total Damage Bonus from Perks: {{finalPerkBonus}}%</div>
            <div>Final Damage Bonus: {{finalTotalBonus}}%</div>
-->
yes
        </div>
    </div>
</div>