<div class="container-fluid animated fadeInLeftBig">
    <div class="row">
        <div class="col-md">
            <div class="row">
                <div [ngClass]="{'col-md': true}">
                    <img src="{{this.itemStore.items[0].item.image}}" class="item-image" />
                    <div>{{this.itemStore.items[0].name}}</div>
                    <div><img src="{{this.itemStore.vbucks}}" class="item-vbucks-image"/>{{this.itemStore.items[0].cost}}</div>

                </div>

                <div class="col-md">
                    <img src="{{this.itemStore.items[1].item.image}}" class="item-image" />
                    <div>{{this.itemStore.items[1].name}}</div>
                    <div><img src="{{this.itemStore.vbucks}}" class="item-vbucks-image"/>{{this.itemStore.items[1].cost}}</div>
                </div>
            </div>

            <div class="row">
                <div class="col-md">
                    <img src="{{this.itemStore.items[2].item.image}}" class="item-image" />
                    <div>{{this.itemStore.items[2].name}}</div>
                    <div><img src="{{this.itemStore.vbucks}}" class="item-vbucks-image"/>{{this.itemStore.items[2].cost}}</div>
                </div>

                <div class="col-md">
                    <img src="{{this.itemStore.items[3].item.image}}" class="item-image" />
                    <div>{{this.itemStore.items[3].name}}</div>
                    <div><img src="{{this.itemStore.vbucks}}" class="item-vbucks-image"/>{{this.itemStore.items[3].cost}}</div>
                </div>

            </div>
        </div>

        <div class="col-md">
            <div class="row">
                <div class="col-md">
                    <img src="{{this.itemStore.items[4].item.image}}" class="item-image" />
                    <div>{{this.itemStore.items[4].name}}</div>
                    <div><img src="{{this.itemStore.vbucks}}" class="item-vbucks-image"/>{{this.itemStore.items[4].cost}}</div>
                </div>

                <div class="col-md">
                    <img src="{{this.itemStore.items[5].item.image}}" class="item-image" />
                    <div>{{this.itemStore.items[5].name}}</div>
                    <div><img src="{{this.itemStore.vbucks}}" class="item-vbucks-image"/>{{this.itemStore.items[5].cost}}</div>
                </div>

                <div class="col-md">
                    <img src="{{this.itemStore.items[6].item.image}}" class="item-image" />
                    <div>{{this.itemStore.items[6].name}}</div>
                    <div><img src="{{this.itemStore.vbucks}}" class="item-vbucks-image"/>{{this.itemStore.items[6].cost}}</div>
                </div>
            </div>

            <div class="row">
                <div class="col-md">
                    <img src="{{this.itemStore.items[7].item.image}}" class="item-image" />
                    <div>{{this.itemStore.items[7].name}}</div>
                    <div><img src="{{this.itemStore.vbucks}}" class="item-vbucks-image"/>{{this.itemStore.items[7].cost}}</div>
                </div>

                <div class="col-md">
                    <img src="{{this.itemStore.items[8].item.image}}" class="item-image" />
                    <div>{{this.itemStore.items[8].name}}</div>
                    <div><img src="{{this.itemStore.vbucks}}" class="item-vbucks-image"/>{{this.itemStore.items[8].cost}}</div>
                </div>

                <div class="col-md">
                    <img src="{{this.itemStore.items[9].item.image}}" class="item-image" />
                    <div>{{this.itemStore.items[9].name}}</div>
                    <div><img src="{{this.itemStore.vbucks}}" class="item-vbucks-image"/>{{this.itemStore.items[9].cost}}</div>
                </div>

            </div>
        </div>
    </div>
    <div id="credits">API provided by: https://fortnite-public-api.theapinetwork.com/</div>
</div>