/* You can add global styles to this file, and also import other style files */

body{
    /*font-family: 'Mouse Memoirs';*/
    background-color: #29292c;
    color: rgb(238, 235, 247);
}

div{
    font-size: 20px;
}

